<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IN56</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>control.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>control.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilServlet</display-name>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>control.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/ProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>control.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>control.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFAQServlet</display-name>
    <servlet-name>AddFAQServlet</servlet-name>
    <servlet-class>control.AddFAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFAQServlet</servlet-name>
    <url-pattern>/AddFAQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionAdministrationServlet</display-name>
    <servlet-name>InscriptionAdministrationServlet</servlet-name>
    <servlet-class>control.InscriptionAdministrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionAdministrationServlet</servlet-name>
    <url-pattern>/InscriptionAdministrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeuxServlet</display-name>
    <servlet-name>JeuxServlet</servlet-name>
    <servlet-class>control.JeuxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuxServlet</servlet-name>
    <url-pattern>/JeuxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeuDuMoisServlet</display-name>
    <servlet-name>JeuDuMoisServlet</servlet-name>
    <servlet-class>control.JeuDuMoisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuDuMoisServlet</servlet-name>
    <url-pattern>/JeuDuMoisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJeuServlet</display-name>
    <servlet-name>AddJeuServlet</servlet-name>
    <servlet-class>control.AddJeuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJeuServlet</servlet-name>
    <url-pattern>/AddJeuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTypeJeu</display-name>
    <servlet-name>AddTypeJeu</servlet-name>
    <servlet-class>control.AddTypeJeu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypeJeu</servlet-name>
    <url-pattern>/AddTypeJeu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQServlet</display-name>
    <servlet-name>FAQServlet</servlet-name>
    <servlet-class>control.FAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQServlet</servlet-name>
    <url-pattern>/FAQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQListServlet</display-name>
    <servlet-name>FAQListServlet</servlet-name>
    <servlet-class>control.FAQListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQListServlet</servlet-name>
    <url-pattern>/FAQListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaunchHibernate</display-name>
    <servlet-name>LaunchHibernate</servlet-name>
    <servlet-class>control.LaunchHibernate</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaunchHibernate</servlet-name>
    <url-pattern>/LaunchHibernate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQRemoveServlet</display-name>
    <servlet-name>FAQRemoveServlet</servlet-name>
    <servlet-class>control.FAQRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQRemoveServlet</servlet-name>
    <url-pattern>/FAQRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQEditServlet</display-name>
    <servlet-name>FAQEditServlet</servlet-name>
    <servlet-class>control.FAQEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQEditServlet</servlet-name>
    <url-pattern>/FAQEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewslettersServlet</display-name>
    <servlet-name>NewslettersServlet</servlet-name>
    <servlet-class>control.NewslettersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewslettersServlet</servlet-name>
    <url-pattern>/NewslettersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTypeJeuServlet</display-name>
    <servlet-name>ListTypeJeuServlet</servlet-name>
    <servlet-class>control.ListTypeJeuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTypeJeuServlet</servlet-name>
    <url-pattern>/ListTypeJeuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeJeuRemoveServlet</display-name>
    <servlet-name>TypeJeuRemoveServlet</servlet-name>
    <servlet-class>control.TypeJeuRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeJeuRemoveServlet</servlet-name>
    <url-pattern>/TypeJeuRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeJeuListServlet</display-name>
    <servlet-name>TypeJeuListServlet</servlet-name>
    <servlet-class>control.TypeJeuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeJeuListServlet</servlet-name>
    <url-pattern>/TypeJeuListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeJeuEditServlet</display-name>
    <servlet-name>TypeJeuEditServlet</servlet-name>
    <servlet-class>control.TypeJeuEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeJeuEditServlet</servlet-name>
    <url-pattern>/TypeJeuEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeuxList</display-name>
    <servlet-name>JeuxList</servlet-name>
    <servlet-class>control.JeuxList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuxList</servlet-name>
    <url-pattern>/JeuxList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurListServlet</display-name>
    <servlet-name>UtilisateurListServlet</servlet-name>
    <servlet-class>control.UtilisateurListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurListServlet</servlet-name>
    <url-pattern>/UtilisateurListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateurRemoveServlet</display-name>
    <servlet-name>UtilisateurRemoveServlet</servlet-name>
    <servlet-class>control.UtilisateurRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurRemoveServlet</servlet-name>
    <url-pattern>/UtilisateurRemoveServlet</url-pattern>
  </servlet-mapping>
</web-app>