<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IN56</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAQServlet</display-name>
    <servlet-name>FAQServlet</servlet-name>
    <servlet-class>servlet.FAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAQServlet</servlet-name>
    <url-pattern>/FAQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JeuMoisServlet</display-name>
    <servlet-name>JeuMoisServlet</servlet-name>
    <servlet-class>servlet.JeuMoisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JeuMoisServlet</servlet-name>
    <url-pattern>/JeuMoisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilServlet</display-name>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>servlet.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/ProfilServlet</url-pattern>
  </servlet-mapping>
</web-app>